---

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    open-pull-requests-limit: 2
    schedule:
      interval: "daily"

    reviewers:
      - "charlesrocket"

    commit-message:
      prefix: "ops"
      include: "scope"
